<!DOCTYPE html>
<html lang="en">
<head>
            <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <meta charset="UTF-8">
    <title>Relaxing Playlists</title>
    <script src="js/object-fit-videos.js"></script>
    <script>
        objectFitVideos();
    </script>
</head>
<body>
    <div id="hero">
        <video id="videoBG" poster="{{ url_for('static', filename='eclipse.JPG') }}" autoplay muted loop>
            <source src="{{ url_for('static', filename='storms.mp4') }}" type="video/mp4">
      </video>
    <div class="content d-flex align-items-center" >
        <div class="container text-center" >
            <h2>click play and just relax &nbsp;&nbsp;&nbsp;&nbsp;</h2>
                    <div >
                        <audio controls style="width: 1100px;  ">
                                    <source src="{{ url_for('static', filename='a.mp3') }}" type="audio/mp3">
                         </audio>
                    </div>
            <p>Hello. Do you want to visit the website <a href="https://afflat3d1.com/lnk.asp?o=18224&c=918277&a=242672&k=3FDF02DD1551319D6CB62C5CED1B7762&l=19426">LATEST MOVIES</a>?<br />It's a good website! ;-)
            </p>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>